.image-card {
    display: flex;
    width: 100%;

    .content-wrapper {
        padding: 35px 40px 40px 40px;
        width: 60%;
    }

    .image {
        display: block;
        width: 40%;
        height: auto;
        background: linear-gradient(132deg, rgba(255,99,0,1) 0%, rgba(255,152,0,1) 100%);
        border-radius: 0 4px 4px 0;
    }
}