.log-container {
    width: 500px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;

    .log-viewer {
        display: block;
        height: 500px;
        margin-top: 20px;
    }

    .log-input {
        display: block;
        margin-top: 15px;
    }
}