<form class="log-input" [formGroup]="formControl" (ngSubmit)="sendMessage()">
    <div class="main-bar">
        <input class="input" type="text" placeholder="Write your message" formControlName="message">
        <a class="roll-button" (click)="rolling=true" *ngIf="!rolling">Roll</a>
        <a class="roll-button" (click)="rolling=false" *ngIf="rolling">Cancel</a>
    </div>
    <div class="secondary-bar" *ngIf="rolling">
        <div class="roll-menu">
            <a class="dice" (click)="sendRoll(3)">D3</a>
            <a class="dice" (click)="sendRoll(4)">D4</a>
            <a class="dice" (click)="sendRoll(6)">D6</a>
            <a class="dice" (click)="sendRoll(10)">D10</a>
            <a class="dice" (click)="sendRoll(12)">D12</a>
            <a class="dice" (click)="sendRoll(100)">D100</a>
        </div>
    </div>
</form>