.log-input {
    width: 100%;

    .main-bar {
        display: flex;
        width: 100%;

        .input {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 4px;
            background-color: #0c0f12;
            font-size: 13pt;
            color: white;
        }
        
        .roll-button {
            width: 100px;
            margin: 0 0 0 10px;
            padding: 10px;
            border-radius: 4px;
            background-color: #2d8a36;
            font-size: 13pt;
            text-align: center;
        }
    }

    .secondary-bar {
        display: flex;
        justify-content: flex-end;
        margin: 10px 0 0 0;

        .roll-menu {
            display: flex;
            position: relative;
            width: 240px;
            padding: 0 10px;
            border-radius: 4px;
            background-color: #2d8a36;
            font-size: 12pt;
            font-weight: bold;

            .dice {
                display: block;
                padding: 10px 5px;
                text-align: center;
            }
            
            .dice:hover {
                background-color: #226628;
            }
        }

        .top-arrow:after {
            content: ' ';
            position: absolute;
            top: -20px;
            right: 30px;
            width: 0;
            height: 0;
            border: 11px solid;
            border-color: transparent transparent #2d8a36 transparent;
        }
    }
}