.game-search-container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;

    .title {
        font-size: 26pt;
    }

    .search-bar {
        .input {
            width: 300px;
            max-width: 100%;
            margin: 20px 0 0 0;
            padding: 10px;
            border: none;
            border-radius: 4px 0 0 4px;
            font-size: 13pt;
        }

        .button {
            padding: 10px;
            border-radius: 0 4px 4px 0;
            background-color: #00acc1;
            font-size: 13pt;
        }

        .error {
            margin: 5px 0 0 0;
            color: #ff2e55;
        }

        .name-input {
            display: block;
            width: 300px;
            max-width: 100%;
            margin: 20px auto 0 auto;
            padding: 10px;
            border: none;
            border-radius: 4px;
            font-size: 13pt;
        }
    }
}