<app-image-card class="game-search-container">
    <form class="search-form" [formGroup]="formControl" (ngSubmit)="searchGame()">
        <input class="submit" type="submit" value="Submit" tabindex="-1">
        <div class="up">
            <h1 class="title">SEARCH A GAME BY ID</h1>
            <p class="field-hint" *ngIf="formControl.get('gameId').valid || !searched">GAME ID</p>
            <ng-container *ngIf="formControl.get('gameId').invalid && searched">
                <p class="field-hint error" *ngIf="formControl.get('gameId').errors.required">GAME ID - FIELD REQUIRED</p>
                <p class="field-hint error" *ngIf="formControl.get('gameId').errors.minlength">GAME ID - 20 CHARACTERS MINIMUM</p>
                <p class="field-hint error" *ngIf="formControl.get('gameId').errors.maxlength">GAME ID - 20 CHARACTERS MAXIMUM</p>
            </ng-container>
            <input class="input" type="email" formControlName="gameId">
        </div>
        <div class="down">
            <p class="submit-hint" *ngIf="awaitingResponse">Searching game...</p>
            <p class="submit-hint error" *ngIf="invalidGameId">No game found with the given id</p>
            <a class="submit-button" (click)="searchGame()">Search</a>
        </div>
    </form>
</app-image-card>