.search-view {
    min-width: 100vw;
    min-height: 100vh;
    padding: 10px;
    background-color: #1b262c;
    color: #ababab;

    .game-search-container {
        display: block;
        margin: 30px 0 0 0;
    }
}