.authentication-container {
    display: block;
    width: 800px;
    max-width: 100%;
    height: 400px;

    .authetication-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        .submit {
            display: none;
        }

        .up {
            width: 100%;

            .title {
                margin: 0 0 30px 0;
                font-size: 14pt;
            }
        
            .field-hint {
                margin: 20px 0 0 0;
                font-size: 10px;
                font-weight: bold;
            }
        
            .field-hint.error {
                color: #e83a3a;
            }
        
            .input {
                width: 100%;
                margin: 10px 0 0 0;
                padding: 10px;
                border: 2px solid #1f2226;
                border-radius: 4px;
                background-color: #25292e;
                color: #ababab;
                transition: border-color 0.2s ease-in;
            }
        
            .input:focus {
                border-color: #e06200;
            }   
        }

        .down {
            width: 100%;

            .submit-hint {
                margin: 0 0 10px 0;
                font-size: 12px;
                font-weight: bold;
            }
        
            .submit-hint.ok {
                color: #34eb4f;
            }
        
            .submit-hint.error {
                color: #e83a3a;
            }

            .submit-button {
                display: block;
                width: 100%;
                padding: 10px;
                border-radius: 4px;
                background: linear-gradient(150deg, rgba(255,99,0,1) 0%, rgba(255,152,0,1) 100%);
                text-align: center;
                color: #292e33;
            }
        }
    }

    .image {
        width: 40%;
        height: 100%;
        background: linear-gradient(132deg, rgba(255,99,0,1) 0%, rgba(255,152,0,1) 100%);
        border-radius: 0 4px 4px 0;
    }
}